<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Yatra Suite" parallel="tests" thread-count="2">

    <test name="Yatra Smoke Tests">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>

        <classes>
            <class name="com.awa.qa.yatra.tests.YatraSearchTest"/>
        </classes>
    </test>

</suite>
